<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/register.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Document</title>
</head>
<body class=" register <%= locals.userLogin ? locals.userLogin.colors : null %>">
    <main>
        <form action="" method="POST">
            <div>
                <label for="name">Ingresa tu Nombre</label>
                <input type="text" name="name" id="name">
                <span class="error"><%= locals.errors && errors.name ? errors.name.msg : null %></span>
            </div>
            <div>
                <label for="email">Ingresa tu Email</label>
                <input type="email" name="email" id="email">
                <span class="error"><%= locals.errors && errors.email ? errors.email.msg : null %></span>
            </div>
            <div>
                <label for="edad">Ingresa tu Edad</label>
                <input type="number" name="edad" id="edad">
                <span class="error"><%= locals.errors && errors.edad ? errors.edad.msg : null %></span>
            </div>
            <div>
                <select name="colors" id="">
                    <option value="" hidden>selecciona un color</option>
                    <option value="red">Rojo</option>
                    <option value="blue">Azul</option>
                    <option value="green">Verde</option>
                </select>
                <span class="error"><%= locals.errors && errors.colors ? errors.colors.msg : null %></span>
            </div>

            <div class="check">
                <input type="checkbox" name="recordar" id="recordar">
                <label class="recordar" for="recordar">Recordar Color</label>
            </div>

            <button type="submit">Registrarme</button>
        </form>
    </main>
</body>
</html>